<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e35a902f27.js" crossorigin="anonymous"></script>
    <title>MyTunes - User Playlist Tracks</title>
{{> style}}

  
    
    
</head>

<body>
      <div id="wrapper">
    {{> header}}
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <div class="split left">
    <div class="nav">
        <nav class="sidebar">
            <!-- Avatar image in top left corner -->
    
          <a {{#if user}}href="/newuser"{{else}}href="/"{{/if}} title="Home">
            <i class="fa fa-home"></i>
            {{!-- <p>HOME</p> --}}
          </a>
          <a href="/newuser/library" title="Playlist">
            <i class="fa fa-play-circle-o"></i>
            {{!-- <p>Playlist</p> --}}
          </a>

          <a href="/newuser/addplaylist" title="Add new Playlist">
            <i class="fa fa-plus-square-o"></i>
            {{!-- <p>Add Playlist</p> --}}
          </a>

        </nav>
    </div>
</div>
     <!-- from here all new released album displpay-->
       <div class="split right">
<div class="contain">
        <div class="track">
     <div>
          <center><h1 style="color:white; font-size:xx-large; padding-top:20px; padding-bottom:20px">{{plist.name}} Tracks</h1> </center>
         <hr>
          
         {{#each songdetails}}
 
           <form action="{{../plist._id}}/delete" method="POST">
            <div  class="trackrow">
               <div class="float-child">
                 <img src="/images/cdtrack.jpg" alt="trackimg" class="trackimg">
                </div>
                 <div class="float-child">
                  <h5 class="album-name pt-4 pb-2" id="songNameOne" value="{{this.songName}}">{{this.songName}}</h5>
                        {{!-- <input type="text" name="playlistId" value="{{../plist._id}}" hidden> --}}
                        <input type="text" name="SongId" value="{{this.id}}" hidden>
                </div>
                 <div class="float-child">
                        <a href="#" class="overlay" id="audioSrcOne" onclick="return setPlayer('{{this.songUrl}}');">
                                  <i class="far fa-play-circle" style="padding-top: 9px; font-size:xx-large; color:white; "></i>
                       </a>
                         <button type="submit" class="icon" style="background: inherit;border:none;margin-left:60%;"><i class="fas fa-minus-circle" style="padding-top: 9px; font-size:xx-large;background:inherit;color:white  "></i></button>

                </div>
                </div>
                {{!-- <audio controls src={{this.preview_url}} class="second"></audio>  --}}
        
            </form>
            {{/each}}
     </div>
     </div>
     </div>
     </div>
     </div>

  {{> player}}
 <script>
function setPlayer(media_src){
    console.log('function called');
    console.log('media src: ' + media_src);
    var player = document.getElementById('player');
    player.src = media_src;
    player.load();
    player.play();
    return false;
}

     
     function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('#myimg')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
 </script> 
</body>

</html>